.container{
    max-width: 390px;
    margin: 0;
    padding: 0 20px;
    /* padding: 16px; */
    /* height: 50px; */
    border-radius: 5px;
}

.h_top .h_top_img{
    width: 360px;
    /* margin-top: -0px; */
    margin-left: -15px;
    
}
.data #data_span{
    color: black;
    font-size: 25px;
    /* position: absolute; */
    margin-top: -22px;
}
.search input{
    width: 250px;
    height: 50px;
    margin-top: 32px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
    border-radius: 12px;
    border: 1px solid white;
    filter: drop-shadow(0px 0px 1.5px black);
}
.search img{
    margin-left: 270px;
    margin-top: -110px;
}
.splide__list{
    display: flex;
    gap: 0;
    list-style: none;
}
.splide__slide img{
    margin-left: -30px;
    width: 100px;
}
.splide_img2{
    width: 320px;
    height: 261px;

}
.splide_img22{
    width: 320px;
    height: 161px;
    margin-top: -50px;
}
.splide__list2{
    /* gap: 50px; */
    margin-left: -30px;
    list-style: none;
}
